header {
    font-size: 100px;
    color: rgb(236, 231, 240);
    background: rgb(22, 0, 24);
    display: flex;
    justify-content: center;
}

body{
    color: rgb(236, 231, 240);
    background: rgb(22, 0, 24);
}

section{
    color: rgb(236, 231, 240);
    background: rgb(22, 0, 24);
    display: flex;
    justify-content: content;
}

img{
    height: 200px;
}

.seletor{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.seletor{
    opacity:0.5;
}

.seletor img:hover{
    opacity: 1.0;
}